/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 2rem;
}
.nav-list {
  height: 6rem;
  background: rgba(0, 4, 8, 0.7);
}
.nav-list nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.nav-list nav a {
  padding-top: 2.7rem;
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-weight: 700;
  font-family: 'Amatic SC', cursive;
}
.nav-list nav a:hover {
  color: #e06b28;
  font-size: 30px;
}
.about-header {
  display: flex;
  margin: 5rem 5rem;
  border-bottom: 1px solid #e06b28;
  padding-bottom: 5rem;
}
@media (max-width: 500px) {
  .about-header {
    flex-direction: row;
  }
}
.about-header .image-header img,
.about-header text-header {
  margin-right: 2rem;
}
.about-header .text-header h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  text-decoration: underline;
}
.about-header h1:hover {
  color: #e06b28;
  font-size: 30px;
}
.about-header .text-header p {
  line-height: 1.5;
  text-align: center;
}
.sectionTwo {
  display: flex;
  justify-content: start;
  width: 70rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.sectionTwo .port-header h2,
.sectionTwo .skills h2 {
  font-size: 25px;
  text-decoration: underline;
  width: 10rem;
  padding-left: 7rem;
}
.sectionTwo .port-header h2:hover,
.sectionTwo .skills h2:hover {
  color: #e06b28;
  font-size: 30px;
}
.port-header .projects {
  margin: 2rem 0;
  padding-right: 12rem;
  border-right: 1px solid #e06b28;
  margin-left: 5rem;
}
.port-header .projects .icon {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 27px;
}
.port-header .projects .icon a {
  color: #e06b28;
}
.port-header .projects .text {
  text-align: center;
}
.port-header .projects .text h3 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 12px;
}
.list {
  text-align: center;
}
.list li {
  padding: 1rem;
  padding-left: 15rem;
}
.list li:hover {
  color: #e06b28;
  font-size: 30px;
}
.contact {
  background: rgba(0, 4, 8, 0.7);
  margin: 2rem 0;
  padding: 3rem 0;
  color: white;
}
.contact h2 {
  font-size: 30px;
  text-align: center;
}
.contact h2:hover {
  color: #e06b28;
  font-size: 30px;
}
.contact .btn {
  text-align: center;
}
.contact form {
  text-align: center;
  padding-top: 2rem;
}
.copy {
  text-align: center;
}
.copy .fas {
  color: red;
}
.cool-btn {
  text-decoration: none;
}
