// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;

}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;

}

body {
	margin: 2rem;

}

// My code starts here
//variables
@navBannerColor: rgba(0, 4, 8, 0.7);
@font-face: 'Amatic SC', cursive;

//mixins
.linkDecoration() {
	text-decoration: none;
	color: white;
	font-size: 23px;
	font-weight: 700;
}

.linkOnHover() {
	color: #e06b28;
	font-size: 30px;
}

.bordered() {
	border-bottom: 1px solid #e06b28;
}

.header2() {
	font-size: 25px;
	text-decoration: underline;
}


//Navigation

.nav-list {

	height: 6rem;
	background: @navBannerColor;

	@media (max-width: 500px) {
		text-align: center;
		margin-right: -2rem;
	}


	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;

		a {
			padding-top: 2.7rem;
			.linkDecoration();
			font-family: @font-face;
		}

		//this closes a tags
		a:hover {
			.linkOnHover();
		}
	}

	//closes nav
	//this closes the nav 
}

//this closes nav-list


//About Section
.about-header {
	display: flex;
	margin: 5rem 5rem;
	.bordered();
	padding-bottom: 5rem;


	@media (max-width: 500px) {
		.image-header {
			display: none;
		}
	}

	.image-header img,
	text-header {
		margin-right: 2rem;

	}


	.text-header h1 {
		font-size: 3rem;
		margin-bottom: 3rem;
		text-align: center;
		text-decoration: underline;

	}

	h1:hover {
		.linkOnHover();
	}

	.text-header p {
		line-height: 1.5;
		text-align: center;
	}
}

//closes section .about-header

//Second Section Portfolio/Skills

.sectionTwo {
	display: flex;
	justify-content: start;
	width: 70rem;
	padding-top: 3rem;
	padding-bottom: 4rem;

	@media (max-width: 500px) {
		display: flex;
		flex-direction: column;
		justify-content: start;

	}

	.port-header h2,
	.skills h2 {
		.header2();
		width: 10rem;
		padding-left: 7rem;
	}

	.port-header h2:hover,
	.skills h2:hover {
		.linkOnHover();
	}

}

.port-header .projects {
	margin: 2rem 0;
	padding-right: 12rem;
	border-right: 1px solid #e06b28;
	margin-left: 5rem;



}

.icon {
	padding: .5rem 0;
	text-align: center;
	font-size: 27px;

	a {
		color: #e06b28;
	}
}

.text {
	text-align: center;

	h3 {
		font-size: 19px;
		font-weight: bold;
		padding-bottom: 12px;
	}
}



}

.list {
	text-align: center;

	li {
		padding: 1rem;
		padding-left: 15rem;
	}

	li:hover {
		.linkOnHover();
	}
}


.contact {
	background: @navBannerColor;
	margin: 2rem 0;
	padding: 3rem 0;
	color: white;

	@media (max-width: 500px) {
		margin-right: -2rem;
	}

	h2 {
		font-size: 30px;
		text-align: center;
	}

	h2:hover {
		.linkOnHover();
	}

	.btn {
		text-align: center;
	}

	form {
		text-align: center;
		padding-top: 2rem;

	}

}

.copy {
	text-align: center;

	.fas {
		color: red;
	}
}

.cool-btn {
	text-decoration: none;


}